.dp-flex{
    display: flex;
    margin: 60px 100px 10px 100px; 
}
.contenedor-img-aboutMe{
    padding: 30px;
    margin-right: 80px;
    border-radius: 15px;
    background-color: #CAB28E;
}
.imgAboutMe{
    width: 500px;
    height: 520px; 
    border-radius: 15px;
}
.text-AboutMe{
    margin-top: 26px;
    font-size: 24px;
    text-align: justify
}
.comunicacion{
    text-align: center;
    font-size: 20px;
    color: black;
    padding: 10px;
}
.margin{
    margin-top: 30px;
}
.wlcmAboutMe{
    font-size: 30px;
}
.wspLink{
    box-shadow: inset 0 0 0 0 #CAB28E;
    color: #CAB28E;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.wspLink:hover{
    box-shadow: inset 100px 0 0 0 #CAB28E;
    color: #CAB28E;
}


/*aboutme, responsive*/
@media (max-width: 500px) {
    .dp-flex{
        display: block;
        margin: 20px 8px 0px 40px;
    }
    .contenedor-img-aboutMe{
        width: 360px;
    }
    .imgAboutMe{
        width: 300px;
        height: 200px;
    }
    .text-AboutMe{
        margin-right: 30px;
        font-size: 18px;

    }
    .wlcmAboutMe{
        font-size: 22px;
    }
    .comunicacion{
        font-size: 16px;
    }
}
  /*aboutme, responsive 500 en adelante*/
@media (min-width: 501px) and (max-width: 600px) {
    .dp-flex{
        display: block;
        margin: 20px 0px 0px 40px;
    }
    .contenedor-img-aboutMe{
        width: 420px;
        margin-bottom: 10px;
    }
    .imgAboutMe{
        width: 360px;
        height: 220px;
    }
    .text-AboutMe{
        margin-right: 30px;
        font-size: 18px;
    }
    .comunicacion{
        font-size: 16px;
    }
    .wlcmAboutMe{
        font-size: 22px;
    }
}
 /*aboutme, responsive 600 en adelante*/
@media (min-width: 601px) and (max-width: 700px) {
    .dp-flex{
        display: block;
        margin: 30px 20px 0px 50px;
    }
    .contenedor-img-aboutMe{
        width: 500px;
        margin-bottom: 10px;
    }
    .imgAboutMe{
        width: 440px;
        height: 220px;
    }
    .text-AboutMe{
        margin-right: 30px;
        font-size: 20px;
    }
    .comunicacion{
        font-size: 16px;
    }
    .wlcmAboutMe{
        font-size: 24px;
    }
}
   /*aboutme, responsive 700 en adelante*/
@media (min-width: 701px) and (max-width: 800px) {
    .dp-flex{
        display: block;
        margin: 30px 20px 0px 50px;
    }
    .contenedor-img-aboutMe{
        width: 580px;
        margin-bottom: 20px;
    }
    .imgAboutMe{
        width: 520px;
        height: 240px;
    }
    .text-AboutMe{
        margin-right: 30px;
        font-size: 20px;
    }
    .comunicacion{
        font-size: 16px;
        padding-top: 30px;
    }
    .wlcmAboutMe{
        font-size: 28px;
    }
}
   /*aboutme, responsive 800 en adelante*/
@media (min-width: 801px) and (max-width: 920px) {
    .dp-flex{
        display: block;
        margin: 30px 20px 0px 50px;
    }
    .contenedor-img-aboutMe{
        width: 700px;
        margin-bottom: 20px;
    }
    .imgAboutMe{
        width: 640px;
        height: 320px;
    }
    .text-AboutMe{
        margin-right: 30px;
        font-size: 20px;
    }
    .comunicacion{
        font-size: 16px;
        padding-top: 30px;
    }
}
  /*aboutme, responsive 921 en adelante*/
@media (min-width: 921px) and (max-width: 1050px) {
    .dp-flex{
        display: block;
        margin: 60px 30px 10px 50px;
    }
    .contenedor-img-aboutMe{
        width: 800px;
        margin-bottom: 20px;
    }
    .imgAboutMe{
        width: 740px;
        height: 320px;
    }
    .text-AboutMe{
        margin-right: 30px;
        font-size: 21px;
    }
    .comunicacion{
        font-size: 16px;
        padding-top: 30px;
    }
}
  /*aboutme, responsive 1051 en adelante*/
@media (min-width: 1051px) and (max-width: 1150px) {
    .dp-flex{
        display: block;
        margin: 60px 30px 10px 50px;
    }
    .contenedor-img-aboutMe{
        width: 920px;
        margin-bottom: 20px;
    }
    .imgAboutMe{
        width: 860px;
        height: 340px;
    }
    .text-AboutMe{
        margin-right: 30px;
        font-size: 21px;
    }
    .comunicacion{
        font-size: 16px;
        padding-top: 30px;
    }
}
/*aboutme, responsive 1150 en adelante*/
@media (min-width: 1150px) and (max-width: 1250px) {
    .dp-flex{
        display: flex;
        margin: 60px 46px 10px 50px;
    }
    .imgAboutMe{
        height: 500px;
    }
    .text-AboutMe{
        margin-right: 30px;
        font-size: 18px;
    }
    .comunicacion{
        font-size: 16px;
        padding-top: 30px;
    }
    .margin{
        margin-top: 0px;
    }
    .wlcmAboutMe{
        font-size: 22px;
    }
}
/*aboutme, responsive 1251 en adelante*/
@media (min-width: 1251px) and (max-width: 1350px) {
    .dp-flex{
        display: flex;
        margin: 60px 46px 10px 50px;
    }
    .imgAboutMe{
        height: 480px;
    }
    .text-AboutMe{
        margin-right: 30px;
        font-size: 20px;
    }
    .comunicacion{
        font-size: 16px;
        padding-top: 30px;
    } 
    .margin{
        margin-top: 0px;
    }
    .wlcmAboutMe{
        font-size: 26px;
    }
}
/*aboutme, responsive 1351 en adelante*/
@media (min-width: 1351px) and (max-width: 1450px) {
    .dp-flex{
        display: flex;
        margin: 60px 50px 20px 80px;
    }
    .imgAboutMe{
        height: 460px;
    }
    .text-AboutMe{
        margin-right: 30px;
        font-size: 22px;
    }
    .comunicacion{
        font-size: 16px;
        padding-top: 30px;
    }
    .margin{
        margin-top: 0px;
    }
    .wlcmAboutMe{
        font-size: 28px;
    }
}
/*aboutme, responsive 1451 en adelante*/
@media (min-width: 1451px) and (max-width: 1550px) {
    .dp-flex{
        display: flex;
        margin: 60px 50px 20px 80px;
    }
    .imgAboutMe{
        height: 460px;
    }
    .comunicacion{
        font-size: 16px;
        padding-top: 30px;
    }
    .margin{
        margin-top: 0px;
    }
    .wlcmAboutMe{
        font-size: 30px;
    }
}