@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&display=swap');

*{
    font-family: 'Montserrat Alternates', sans-serif;
}

.navbar, .footer{
    background-color: #611428;
}

.bodyPages{
    background-color: rgb(247, 242, 242);
}

.navIndex, .footerIndex{
    opacity: 0.7;
}

.indexPage{
    background-image: url(../img/indexBg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}